@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600|Montserrat);
body {
  background-color: #fff;
  color: #555;
  font-family: "Montserrat" !important;
  font-size: 16px; }

.clr {
  clear: both; }

a:hover {
  cursor: pointer; }

.center {
  text-align: center; }

.blue {
  color: #03A9F4; }

.small {
  font-size: 11px; }

.upper {
  text-transform: uppercase; }
  .upper.heading {
    letter-spacing: 1px;
    font-family: 'Montserrat'; }

.title {
  font-weight: bold; }

header {
  height: 60px;
  background-color: #fafafa; }
  header .logo {
    float: left; }
  header nav {
    float: right;
    line-height: 60px;
    font-size: 0px; }
    header nav ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      header nav ul li {
        float: left; }
      header nav ul li a {
        display: inline-block;
        padding: 0 20px;
        font-size: 14px; }
      header nav ul li.dashboard a {
        background-color: #03A9F4;
        color: #fff; }
        header nav ul li.dashboard a.logout {
          background-color: #03a2ea; }

section {
  padding: 50px 5%; }

#app .listing {
  margin: 50px 0; }
  #app .listing .item {
    display: block;
    position: relative;
    padding: 10px 20px !important;
    text-align: center;
    background-color: #8f8f8f;
    color: #fff;
    transition: all 0.3s ease-in-out; }
    #app .listing .item.has-toolbar {
      padding-top: 45px !important; }
    #app .listing .item.disabled {
      opacity: 0.3; }
    #app .listing .item a {
      color: #fff; }
    #app .listing .item:hover:not(.disabled) {
      cursor: pointer;
      box-shadow: 0 5px 3px rgba(0, 0, 0, 0.2) !important;
      transform: translateY(-1px); }
    #app .listing .item .toolbar {
      position: absolute;
      height: 35px;
      right: 0;
      top: 0;
      left: 0;
      padding: 0 10px;
      line-height: 35px;
      background-color: darkgray;
      font-size: 14px; }
      #app .listing .item .toolbar span {
        float: left; }
      #app .listing .item .toolbar a {
        float: right; }
    #app .listing .item .employer {
      font-size: 14px; }

section.edit-profile {
  max-width: 600px;
  margin: 0 auto; }
  section.edit-profile a.view-profile {
    display: block;
    padding: 0 0 20px 0;
    font-size: 13px; }

section.user-profile {
  max-width: 600px;
  margin: 0 auto; }
  section.user-profile .header {
    margin: 50px 0;
    padding: 20px 0;
    width: 100%;
    border-bottom: 3px solid;
    border-color: #03A9F4; }
    section.user-profile .header .name {
      margin: 0; }
    section.user-profile .header .type {
      color: #bbb;
      font-size: 14px; }
    section.user-profile .header a {
      float: right;
      font-size: 14px; }
  section.user-profile .details {
    padding: 0 10px; }

section.login {
  max-width: 600px;
  margin: 0 auto; }

section.single-listing {
  max-width: 900px;
  margin: 0 auto;
  font-size: 14px; }
  section.single-listing .header {
    margin: 50px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #e8e8e8; }
    section.single-listing .header div.left {
      float: left; }
    section.single-listing .header div.right {
      float: right; }
      section.single-listing .header div.right .button {
        display: block;
        margin: 0 0 10px 0;
        border-radius: 20px;
        box-shadow: -3px 0 4px rgba(0, 0, 0, 0.2); }
      section.single-listing .header div.right p {
        text-align: right; }
    section.single-listing .header .apply {
      float: right; }
  section.single-listing form input {
    display: inline-block; }

body.employer section.single-listing .employer {
  display: none; }

#app .dimmer.blanket {
  position: fixed;
  overflow-y: scroll;
  text-align: left; }
  #app .dimmer.blanket section {
    min-height: 100vh;
    background-color: #fff;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease; }
    #app .dimmer.blanket section:hover {
      box-shadow: 0 0 100px rgba(0, 0, 0, 0.1); }
    #app .dimmer.blanket section:before {
      font-family: 'Icons';
      content: '\f00d';
      float: right;
      color: rgba(0, 0, 0, 0.2); }

#app .heading {
  margin: 0 0 50px 0; }

#app .ui.button.primary {
  font-family: 'Montserrat';
  background-color: #03A9F4;
  transition: all 0.3s ease !important; }
  #app .ui.button.primary:hover {
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
    transition: all 1s ease; }

#app .ui.message {
  border: 0;
  box-shadow: none;
  padding: 7px 20px;
  margin: 50px 0; }
  #app .ui.message.positive {
    background-color: #00BFA5;
    color: #fff; }

#app form.ui.form label {
  color: #666; }

#app form.ui.form input:not([type="submit"]), #app form.ui.form textarea {
  margin: 20px 0 40px 0;
  border-radius: 0;
  border: 0;
  border-bottom: 2px solid #aaa;
  color: #aaa; }
  #app form.ui.form input:not([type="submit"]):focus, #app form.ui.form textarea:focus {
    color: #03A9F4;
    border-color: #03A9F4; }

#app form.ui.form input:-webkit-autofill {
  background-color: #F5F5F5 !important;
  color: #03A9F4; }
